.add__item {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    background: #DCDCDC;
    padding: 30px;
    border-radius: 5px;
}

.fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}

.divmodal{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    z-index: 6;
  }

.add__item .btn {
    margin: 5px;
}

.form__input {
    margin-left: 20px;
    display: block;
}

.add__item .label {
    width: 78px;
}

.add__item .label .text {
    display: block;
    text-align: right;
}

.ui.dropdown > .dropdown.icon {
    padding-top: 2px;
    float: right;
}